<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd" bootstrap="vendor/autoload.php" colors="true">
    <testsuites>
        <testsuite name="Unit">
            <directory>tests/Unit</directory>
        </testsuite>
        <testsuite name="Feature">
            <directory>tests/Feature</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>app</directory>
        </include>
    </source>
    <php>
        <env name="APP_ENV"/>
        <env name="APP_MAINTENANCE_DRIVER"/>
        <env name="BCRYPT_ROUNDS"/>
        <env name="BROADCAST_CONNECTION"/>
        <env name="CACHE_STORE"/>
        <env name="DB_DATABASE"/>
        <env name="MAIL_MAILER"/>
        <env name="QUEUE_CONNECTION" />
        <env name="SESSION_DRIVER"/>
        <env name="PULSE_ENABLED"/>
        <env name="TELESCOPE_ENABLED"/>
        <env name="NIGHTWATCH_ENABLED"/>
    </php>
</phpunit>
