@import 'tailwindcss';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';
@source './resources/js/**/*.vue';

@plugin '@tailwindcss/forms';

@theme {
    /* Colors */
    --color-brand: #2d4b8d;
    --color-brand-light: #4b8bbe;
    --color-gray-blueish: #b3c0c8;
    --color-gray-whiteish: #e7e8ea;
    --color-nice-black: #1a1b1f;

    /* Typography */
    --font-sans: Figtree, system-ui, sans-serif;
}

@layer base {
    .label {
        @apply mb-1 block font-medium text-gray-700 dark:text-gray-300;
    }

    .input {
        @apply block w-full rounded-md border border-gray-300 p-2 text-gray-500 shadow-sm focus:border-gray-500 focus:ring-blue-500 dark:border-gray-600 dark:bg-gray-900 dark:text-gray-300 dark:focus:border-blue-500 dark:focus:ring-blue-600;
    }

    .input-error {
        @apply block w-full rounded-md p-2 text-red-500 shadow-sm;
        margin-top: 0.5rem;
    }

    .input-filter-l {
        @apply rounded-t-md rounded-l-md rounded-r-none border border-gray-200 text-sm font-medium text-gray-600 placeholder:text-gray-400 dark:border-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:placeholder:text-gray-600;
    }

    .input-filter-r {
        @apply rounded-t-md rounded-l-none rounded-r-md border border-l-0 border-gray-200 text-sm font-medium text-gray-600 placeholder:text-gray-400 dark:border-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:placeholder:text-gray-600;
    }

    .btn-primary {
        @apply items-center rounded bg-blue-600 px-4 py-2 font-semibold text-white hover:bg-blue-700;
        text-align: center;
    }

    .btn-normal {
        @apply items-center rounded bg-gray-600 px-4 py-2 font-semibold text-white hover:bg-blue-700;
        text-align: center;
    }

    .btn-outline {
        @apply rounded-md border-2 border-gray-300 p-2 px-4 shadow-sm hover:border-gray-400 hover:bg-gray-50 dark:border-gray-800 dark:hover:border-gray-700 dark:hover:bg-gray-800;
    }
}
